@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto:500&display=swap');
body{
   font-size: 20px;
    font-family:'Roboto', sans-serif; 
    color: rgb(12, 3, 9);
  font-weight: 300;
  text-align: center;
  background-color: #b57bf8;}
h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: px;
  padding:2px;
  font-size: 50px;
  background-color: rgb(196, 17, 127);
  color: rgb(77, 28, 109);}

h2{
  font-family: 'Lobster', cursive;
  font-weight: 0;
  margin: 0px;
  padding: 10px;
  align-content: center;
  font-size: 13px;
  color: rgb(77, 28, 109);}

.question{
  margin-bottom: 10px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: rgb(12, 3, 9);
font-weight: 300;
text-align: center;}

.answers {
 font-size: 15px;
  margin-bottom: 15px;
  text-align: left;
  display: inline-block;
font-family: 'Lobster', cursive;
  color: rgb(12, 3, 9);
  font-weight: 300;
  text-align: center;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}
button{
  font-family: 'Lobster', cursive;
    font-size: 22px;
    background-color: rgb(105, 34, 185);
    color: rgb(134, 23, 119);
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
button:hover{
    background-color: rgb(65, 187, 235);
}
slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
  font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    background-color: rgb(134, 220, 235);
    color: rgb(134, 23, 119);
}
.active-slide{
  opacity: 1;
  z-index: 2;
}


